@charset "utf-8";

// Set your brand colors
$p-orange: #EE7F2D;
$p-orange-hover: #994400;
$p-black: #221E20;
$p-gray-5: #7F7F83;
$p-gray-10: #BDBEC1;

// Update Bulma's global variables
$primary: $p-orange;
$link: $p-orange;
$link-hover:$p-orange-hover;
$black: $p-black;

// Custom navbar
.navbar {
    border-bottom: 4px solid $p-orange;
}

// Custom footer
.footer {
    border-top: 4px solid $p-orange;
}

// Enable sticky footer
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.Site-content {
    flex: 1;
}

// Custom content tables
.content table {
    display: block;
    width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

@import "../node_modules/bulma/bulma.sass";
