---
layout: base.njk
---
<article class="container is-max-desktop">
    <header class="block">
        <h1 class="title">{{ title }}</h1>
    </header>
    <div class="content">
        {{ content | safe }}
    </div>
</article>
