<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title>{{ metadata.title }}: {{ title }}</title>
        {% else %}
        <title>{{ metadata.title }}</title>
        {% endif %}
        <meta name="description" content="{{ description or metadata.description }}">
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>
