<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title>{{ metadata.title }}: {{ title }}</title>
        {% else %}
        <title>{{ metadata.title }}</title>
        {% endif %}
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="stylesheet" href="{{ '/css/custom.css' | url }}">
    </head>
    <body class="Site">
        {% include "header.njk" %}
        <main class="Site-content">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
        <script src="{{ '/js/menu.js' | url }}"></script>
    </body>
</html>
