<header>
    <span>{{ metadata.title }}</span>
    <nav>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul>
            {%- for entry in navPages %}
                <li>
                    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
            {%- endfor %}
        </ul>
    </nav>
</header>
