<header>
    <nav class="navbar is-black has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container is-max-widescreen">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/static/shield.png" style="max-height: 36px;" width="36" height="36">
                    <span class="is-size-4 has-text-weight-semibold ml-1">{{ metadata.title }}</span>
                </a>
                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-end">
                    {% set navPages = collections.pages | eleventyNavigation %}
                    {%- for entry in navPages %}
                        <a class="navbar-item has-text-weight-semibold {{ 'is-active' if (entry.url in page.url and entry.url != '/') or (entry.url == page.url) }}" href="{{ entry.url | url }}">{{ entry.title }}</a>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </nav>
</header>
